<!DOCTYPE html>
<html>
<head>
  <title>ApartmentTest2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Sign out", "http://localhost:3000/users/sign_out", :method => "delete" %> | <%= link_to "Sign In", "http://localhost:3000/users/sign_in" %> |
<%= link_to "Sign Up", 'http://localhost:3000/users/sign_up' %> | Signed in as: <%= current_user.email if current_user.present? %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>



<%= yield %>

</body>
</html>
